.banner {
  color: white;
  height: 600px;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-weight: bold;
  font-size: 35px;
}

.banner p {
  color: rgb(177, 171, 171);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  font-size: 20px;
  padding-bottom: 15px;
}

.banner a {
  padding: 15px 30px;
  border: 1px solid grey;
  background-color: rgb(62, 197, 141);
  color: white;
  border-radius: 30px;
}

.banner a:hover {
  background-color: rgb(67, 204, 67);
}
